/*

SELECTORES:

- Tipo. -> a { color: red; }
- Clase. -> .nombre-clase { color: blue; } / class="nombre-clase" (Se usa caundo se desea repetir el estilo CSS en varios elementos (reutilizar))
- Id. -> #nombre-id { color: blue; } / id="nombre-id" (Se usa caundo se desea aplicar el estilo CSS en un solo elemento (no reutlizar))
- Universal.
- Atributo.

HERARQUIA DE SELECTORES:

1. ID = 100 (Se sugiere usar cuando se desea alterar el comportamiento)
2. Class = 10 (Se sugiere usar cuando se desean alterar los estilos)
3. Etiqueta = 1
- Buscar que son las pseudoclases
- Buscar selectores avanzados > (para acceder a los hijos de un elemento)
    + (Para acceder al primer hermano de determinado elemento)
    ~ (Para acceder a todos los hermanos de determinado elemento)
    not (Para acceder a los elementos ecepto algunos)

TIPOS DE COLORES:

1. Nombre del color -> blue
2. Hexadecimal -> #CCCCCC
3. RGB -> (0 = menor intensidad, 255 = mayor intensidad) -> rgb(0, 255, 100)
4. RGBA -> (Es igual a rgb, con la diferencia que recibe un nuevo parámetro, en donde puede ubicarse la opacidad que tendra el color)


text-align: center; (Se usa para centrar texto)
background: blue; (Se usa para poner un color de fondo)
color: green; (Se usa para dar el color de la fuente)
font-size: 22px; (Se usa para dar el tamaño de la fuente)
width: 80%; (Se usa para indicar el tamaño que debe tener un elemento en la pantalla (tamaño de ancho))
height: 50%; (Se usa para indicar el tamaño que debe tener un elemento en la pantalla (tamaño de alto))
padding: 2px; (Se usa para ajustar el margen interno de un elemento)
margin: 5px; (Se usa para ajustar el margen externo de un elemento)
font-style: italic; (Se usa para poner texto en italica)
display: inline-block; (Se usa para que los elementos ocupen solo el espacio que necesita su contenido. Por ejemplo las listas no ordenadas traen por defecto la propiedad display: block esto quiere decir, que este elemento ocupará todo el espacio disponible tanto en ancho como en alto así no lo necesite, o así no lo este ocupando todo realmente)
vertical-align: top (Se usa para alinear elementos de arriba hacía abajo, las ul por defecto, si una foto es mas grande se alinea hacia el abajo)
margin-right: 15%; (Se usa para aplicar margen al lado derecho)
padding-left: 30px; (Se usa para aplicar margen interior a el lado izquierdo)
background-color: #BBBBBB; (Se usa para poner color de fondo)
display: inline; (Se usa para que un elemento ocupe solo el espacio que realmente necesite)
text-transform: uppercase; (Se usa para convertir el texto a mayusculas)
font-weight: bold; (Se usa para convertir el texto a negrilla, o para configurar el peso de la funte)
text-decoration: none; (Se usa para quitar el subrayado y el formato que trae por defecto la etiqueta <a> de los enlaces)
position: static; (es la propiedad que traen por defecto algunos elemengos como la etiqueta nav)
position: relative (Se usa para mover un elemento desde su punto inicial, desde donde este empieza, permite que yo mueva un elemento a donde yo quiera)
position: absolute; (Se usa para mover un elemento a donde yo queira, para cambiar la ubicacion del punto inicial del elemento, luego de esta intruccion indico la ubicacion por ejemplo: top 110px; right: 0)
vertical-align: top; (Se usa para alinear los elementos en la ubicación vertical hacía arriba)
box-sixing: border-box; (Esta propiedad nos permite incluir el relleno y el borde en el ancho y alto total de un elemento)
border-color: #000000; (Se usa para asignar el color del borde)
border-width: 2px; (Se usa para asignar el ancho del borde)
border-style: solid; (Se usa para asignar el tipo de línea del borde)
border-radius: 10px; (Se usa para asignar curvatura a los bordes)
a:hover {color: #C78C19;} (La propiedad hover se usa para capturar el movimiento del mouse (flecha por encima de un elemento, el elemento haga algo, en ese caso cambiar de color))
li:active {border-color: #088c19;} (La propiedad active se usa para capturar el clicl del mouse (flecha) y tomando el clicl hara algo)
background: url(media/bg.jpg); (Se usa para poner una imagen de fonto)
transition: 1s; (Se usa cuando uso la propiedad hover, para indicar el tiempo en el que el boton cambiara de tono, o hara algo al pasar la flecha)
cursor:pointer; (Se usa para que se active la mano envez de la flecha cunaod la paso por encima de algun elemento)
transform: scale(1.0); (Se usa para agrandar un elemento cuando paso la lfecha por encima)
transform: rotate(70deg); (Se usa para que un elemento rote elvalor de ingreso indica los grados del giro)
font-size: 2em; (Se usa el em para indicar que el tamaño de la fuente por defecto se multiplicara por el tamaño brindado en este caso a el doble del tamaño original que tiene la fuente)
float: left; (Se usa para que un elemento quede flotando por "encima de la pantalla, en este caso a el lado izquierdo")
clear: left; (Se usa para que una propiedad no me afecte el resto del documento, buscar!)
line-height: 1.5; (Se usa para poner interlineado en textos, párrafos, etc)
.items:first-child {} (Se usa para aplicar un estilo al primer elemento de la lista)
background: linear-gradient(orange, blue); (Se usa para crear colores con gradiente (como degradados), pasando de un color a otro)
.items:before {content: "★"} (Pseudoelemento: se usa para poner estilos a un elemento especifico, en estecaso antes del elemento item pongo una estrella)
width: calc(50% - 20px) (Medidas proporcionales se usan bastante en responsive, BUSCAR)
calcl() (Hacer cuentas, BUSCAR)
opacity: 0.3; (Se usa para dar opacidad, que pase menos luz a un elemento, por ejemplo para que pase menos luz a una foto)
transition: 400ms; (Se usa cuando por ejemplo coloco opacidad, para indicar como en este ejemplo que la transisión pase a la opacidad sea hecha en una transision de 400 milisegundos)
box-shadow: 10px 10px 30px 15px #000000; (Se usa para crear sombras al rededor de un elemento, ejeX, ejeY, difuminado de la sombra, largo o expansion de la sombra y el color de la sombra son los 5 parámetros que recibe)
box-shadow: inset 0px 0px 10px red; (Se usa para crear una sombra interna)
text-shadow: 2px 2px 10px red; (Se usa para dar sombra a un texto)
@media query (Se usa para hacer la página responsive)

BUSCAR: posicionamientos static, relative y absolute

NOTA:

- ul (Las listas no ordenadas traen por defecto la propiedad display: block; esto quiere decir que siempre ocuparan el 100% del tamaño de la pantalla (así realmente no lo necesite), esto se puede solucionar por medio de la propiedad display: inline-block;)

- <img src=""/> (Las imágenes traen por defecto la propiedad display: inline-block; esto quiere decir que las imagenes ocupan solamente el tamaño que necesitan)

*/